<div id="profile" class="span-15">
	<% if resource.photo.file?%>
		<div class='span-4'>
			<%=image_tag @user.photo.url(:medium),:id => 'current_user_photo'%>
			<%=link_to "Change Photo","#",:id => :upload_photo, :name => :upload_photo, :class=>'span-4'%>
		</div>
	<% else %>
		<div class='span-4'>
			<%=image_tag ("default.jpg")%>
			<%=link_to "Change Photo","#",:id => :upload_photo, :name => :upload_photo, :class=>'span-4'%>
		</div>
	<%end%>
	
	<div class='span-10'>
		<div class="span-10 profile_name">
			<%=resource.name.titleize%>
		</div>
		<div id="description" class="prepend-top span-10">
			<%if current_user.nil? || current_user.id != resource.id %>
				<div id='desc_content' class='span-9'><%=raw resource.description%></div>
			<%else%>
				<% if !resource.description.nil? && resource.description.length > 0%>
					<div id='desc_content' class='span-9'><%=raw resource.description%></div>
					<%=link_to "Edit Bio","#", :id => :edit_description,:class => "right"%>
				<%else%>
					<%=link_to "Add Bio","#",:id => :add_description, :class => "rounded-corners"%>
				<%end%>
			<%end%>
		</div>
	</div>
</div>

<div id="manage" class="span-15 prepend-1 prepend-top">
	<%=link_to "Account", "#", :id => "account_label", :class =>"span-4"%>
	<%=link_to "Questions", "#", :id => "question_label", :class =>"span-4"%>
	<%=link_to "Links", "#", :id => "link_label", :class =>"span-4"%>
</div>

<div id="account" class="span-15">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => " span-14" }) do |f| %>
		<% if resource.errors.count > 0 %>
			<ul id="errorExplanation" class="spans-14">
				<%resource.errors.each_pair do |msg|%>
					<li class="error_message"> <%= "#{msg[0]}".camelize+" #{msg[1][0]}"%></li>
				<%end%>
			</ul>
		<%end%>
  		<br/>

	<% if !@user.authentications.empty?%>
		<p>
			Your <span class='notionhub'>NotionHub</span> account is associated with your <span class='facebook'>Facebook</span> account.
		</p>
		<p>
			<%= f.label :name, :class => "span-1", :style=>"margin-top:9px" %>
			<%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :email, :class => "span-1", :style=>"margin-top:9px" %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.submit "     Update     ", :id=>:update_account, :class => "push-5" %>
		</p>
	<% else %>
		<p>
			<%= f.label :name, :class => "span-4" %>
			<%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :email, :class => "span-4" %>
			<%= f.text_field :email %>
		</p>
	
		<p>
			<%= f.label :password, :class => "span-4" %>
			<%= f.password_field :password %>
			<br/>
			<i>(leave blank if you don't want to change it)</i>
		</p>

		<p>
			<%= f.label :confirmation, :class => "span-4" %>
			<%= f.password_field :password_confirmation %>
		</p>
	
		<p>
			<%= f.label :current_password, :class => "span-4" %> 
			<%= f.password_field :current_password %>
			<br/>
			<i>(we need your current password to confirm your changes)</i>
		</p>

		<p>
			<%= f.submit "     Update     ", :id=>:update_account, :class => "push-5" %>
		</p>
	<%end%>
<% end %>
<br/><br/><br/>

	<br/>
	<br/>
	<br/>
</div>
<div id="questions"  class="span-15">
	<ul id='user_questions' class='span-15'>

	</ul>
</div>

<div id="links"  class="span-15">
	<ul id='user_links' class='span-15'>

	</ul>
</div>

<%=content_tag :head do%>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "edit_user.js" %>
<%end%>
