<div id="introMessage" class="left span-8 rounded_corners prepend-top">
	<%=image_tag 'users.png', :id => "user_image"%>
	<%=image_tag 'help.png', :id => "help_image"%>
	<%=image_tag 'attachment.png', :id => "link_image"%>
	<br/><br/>
	<span id="welcome_exp" class='span-6 prepend-1'>
		<span id="sitename">NotionHub</span> is an aspiring student community to ask <%=link_to "Questions",questions_path %> and share useful <%=link_to "Links", links_path %> and help each other in their quest to achieve their dream.</span>
	<br/><br/>
	
	<span id="sign_up_or_sign_in">
		<%=link_to "Connect using Facebook","/auth/facebook", :id => :fb_signin_long, :class => "span-6 push-1"%>
		<span class="span-14 pull-3">
    	&nbsp;<span style="font-weight:bold;font-size:11px;">Not on Facebook? </span><%= link_to "signup using email", new_user_registration_path, :class => "helptext" %>
		</span>
	</span>
</div>